h1{
    position: absolute;
width: 355px;
height: 49px;
left: 543px;
top: 196px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 49px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}
h2{
    position: absolute;
width: 51.81px;
height: 16px;
left: 538px;
top: 299px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;


}
h3{
    
    position: absolute;
    width: 211.31px;
    height: 16px;
    left: 538px;
    top: 392px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: #000000;
}
h4{
    position: absolute;
width: 152.69px;
height: 16px;
left: 538px;
top: 485px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;


}
p1{
    position: absolute;
width: 256.3px;
height: 16px;
left: 547.54px;
top: 335px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #A4A4A4;

}
p2{

}
p3{
    
}
